[API]
TOKEN=https://developer.hypixel.net/

[DISCORD]
TOKEN=https://discord.com/developers/applications
ADMIN=https://support.discord.com/hc/en-us/articles/4407571667351-How-to-Find-User-IDs-for-Law-Enforcement